{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
     {% block title %}  {% endblock %} | Propmatez
    </title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta content="Admin & Dashboards " name="description" />
    <meta content="Propmatez" name="author" />
  <!-- layout setup -->
    <script type="module" src="{% static 'assets/js/layout-setup.js' %}"></script>

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
    <!--datatable css-->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"
    />
    <!--datatable responsive css-->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css"
    />

    <!-- Simplebar Css -->
    <link rel="stylesheet" href="{% static 'assets/libs/simplebar/simplebar.min.css' %}" />
    <!-- Swiper Css -->
    <link href="{% static 'assets/libs/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />
    <!-- Nouislider Css -->
    <link href="{% static 'assets/libs/nouislider/nouislider.min.css' %}" rel="stylesheet" />
    <!-- Bootstrap Css -->
    <link
      href="{% static 'assets/css/bootstrap.min.css' %}"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />
    <!--icons css-->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link
      href="{% static 'assets/css/app.min.css' %}"
      id="app-style"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<style>
  #map {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  }
  
  .leaflet-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }
  
  .leaflet-popup-content-wrapper {
    border-radius: 8px;
  }
  
  /* Make map tiles sharper */
  .map-tiles {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
</style>

  </head>

  <body>
    <!-- Begin page -->
    <div id="layout-wrapper">
      <!-- Begin Header -->
      <header class="app-header" id="appHeader">
        <div class="container-fluid w-100">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-inline-flex align-items-center gap-2">
              <a
                href="{% url 'dashboard_home' %}"
                class="align-items-end logo-main d-none me-5"
              >
                <img
                  height="35"
                  width="34"
                  class="logo-dark"
                  alt="Dark Logo"
                  src="{% static 'assets/images/logo-md.png' %}"
                />
                <h3 class="text-body-emphasis fw-bolder mb-0 ms-1">
                 Propmatez
                </h3>
              </a>
              <button
                type="button"
                class="vertical-toggle btn header-btn"
                id="toggleSidebar"
                aria-label="Toggle Sidebar"
              >
                <i class="bi bi-arrow-bar-left header-icon"></i>
              </button>
              <button
                type="button"
                class="horizontal-toggle btn header-btn d-none"
                id="toggleHorizontal"
                aria-label="Toggle Menu"
              >
                <i class="ri-menu-2-line header-icon"></i>
              </button>
            </div>
            <div class="flex-shrink-0 d-flex align-items-center gap-4">
              <div class="dark-mode-btn" id="toggleMode">
                <button
                  class="btn header-btn active"
                  id="lightModeBtn"
                  type="button"
                  aria-label="Switch to light mode"
                >
                  <i class="bi bi-brightness-high"></i>
                </button>
                <button
                  class="btn header-btn"
                  id="darkModeBtn"
                  type="button"
                  aria-label="Switch to Dark mode"
                >
                  <i class="bi bi-moon-stars"></i>
                </button>
              </div>
              <div class="dropdown pe-dropdown-mega d-none d-md-block">
                <button
                  class="header-profile-btn btn gap-1 text-start"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <div class="d-none d-xl-block pe-2">
                    <span class="d-block mb-0 fs-12 fw-semibold">Admin</span>
                  
                  </div>
                  <span class="header-btn btn position-relative">
                    <img
                      src="{% static 'assets/images/avatar/dummy.jpg' %}"
                      alt="Avatar Image"
                      class="img-fluid rounded-circle"
                    />
                  </span>
                </button>
                <div
                  class="dropdown-menu dropdown-mega-sm header-dropdown-menu p-3"
                >
                  <div
                    class="border-bottom pb-2 mb-2 d-flex align-items-center gap-2"
                  >
                    <img
                      src="{% static 'assets/images/avatar/dummy.jpg' %}"
                      alt="Avatar Image"
                      class="avatar-md"
                    />
                    <div>
                      <a href="javascript:void(0)">
                        <h6 class="mb-0 lh-base">Admin</h6>
                      </a>
                      
                    </div>
                  </div>
                  <ul class="list-unstyled mb-1 border-bottom pb-1">
                    <li>
                      <a class="dropdown-item" href="{% url 'profile' %}"
                        ><i class="bi bi-person me-2"></i> View Profile</a
                      >
                    </li>
                  </ul>
                  <ul class="list-unstyled mb-0">
                  <li>
    <a class="dropdown-item" href="{% url 'admin_logout' %}">
        <i class="bi bi-box-arrow-right me-2"></i> Sign Out
    </a>
</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- END Header -->

    <aside class="pe-app-sidebar" id="sidebar">
    <!-- Sidebar Logo -->
    <div class="pe-app-sidebar-logo px-6 d-flex align-items-center position-relative">
        <a href="{% url 'dashboard_home' %}" class="d-flex align-items-start logo-main">
            <img height="35" width="34" class="logo-dark" alt="Dark Logo" src="{% static 'assets/images/logo-md.png' %}" />
            <img height="35" width="34" class="logo-light" alt="Light Logo" src="{% static 'assets/images/logo-md-light.png' %}" />
            <h3 class="text-body-emphasis fw-bolder mb-0 ms-1">Propmatez</h3>
        </a>
        <button type="button" id="sidebarDefaultArrow" class="btn btn-sm p-0 fs-16 text-body-emphasis ms-auto float-end d-none icon-hover-btn">
            <i class="ri-arrow-right-line fs-5"></i>
        </button>
    </div>

    <!-- Sidebar Menu -->
    <nav class="pe-app-sidebar-menu nav nav-pills" data-simplebar id="sidebar-simplebar">
        <div class="d-flex align-items-start flex-column w-100">
            <ul class="pe-main-menu list-unstyled">

                <!-- Main Menu Title -->
                <li class="pe-menu-title">Main</li>

                <!-- Dashboard -->
                <li class="pe-slide pe-has-sub {% if request.resolver_match.url_name == 'dashboard_home' %}active{% endif %}">
                    <a href="{% url 'dashboard_home' %}" class="pe-nav-link">
                        <i class="ri-dashboard-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Dashboard</span>
                    </a>
                </li>

                <!--Main User -->
                <li class="pe-slide pe-has-sub">
                    <a href="#collapseUserMenu" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseUserMenu">
                        <i class="ri-user-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Main Users</span>
                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>  
                    </a>
                    <ul class="pe-slide-menu collapse" id="collapseUserMenu">    
                        <li class="pe-slide-item {% if request.resolver_match.url_name == 'view_user' %}active{% endif %}">
                           <a href="{% url 'add_user' %}" class="pe-nav-link">Add Main Users</a>

                        </li>
                        <li class="pe-slide-item {% if request.resolver_match.url_name == 'user_property' %}active{% endif %}">
                            <a href="{% url 'add_role' %}" class="pe-nav-link">Add Roles</a>
                        </li>  
                        <li class="pe-slide-item {% if request.resolver_match.url_name == 'user_property' %}active{% endif %}">
                            <a href="{% url 'user_list' %}" class="pe-nav-link">Main Users List</a>
                        </li>
                    </ul>  
                </li>

                <!-- Our Team -->
                <li class="pe-slide pe-has-sub {% if request.resolver_match.url_name == 'view_member' %}active{% endif %}">
                    <a href="{% url 'view_member' %}" class="pe-nav-link">
                        <i class="ri-team-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Our Team</span>
                    </a>
                </li>

                <!-- User Submenu -->
                <li class="pe-slide pe-has-sub">
                    <a href="#collapseUserMenu" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseUserMenu">
                        <i class="ri-user-line pe-nav-icon"></i>
                        <span class="pe-nav-content">User</span>
                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                    </a>
                    <ul class="pe-slide-menu collapse" id="collapseUserMenu">
                        <li class="pe-slide-item {% if request.resolver_match.url_name == 'view_user' %}active{% endif %}">
                            <a href="{% url 'view_user' %}" class="pe-nav-link">Register User</a>
                        </li>
                        <li class="pe-slide-item {% if request.resolver_match.url_name == 'user_property' %}active{% endif %}">
                            <a href="{% url 'user_property' %}" class="pe-nav-link">User Property</a>
                        </li>
                    </ul>
                </li>

                <!-- Country -->
                <li class="pe-slide pe-has-sub {% if request.resolver_match.url_name == 'view_country' %}active{% endif %}">
                    <a href="{% url 'view_country' %}" class="pe-nav-link">
                        <i class="ri-global-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Country</span>
                    </a>
                </li>

                <!-- Property Type -->
                <li class="pe-slide pe-has-sub {% if request.resolver_match.url_name == 'view_propertytype' %}active{% endif %}">
                    <a href="{% url 'view_propertytype' %}" class="pe-nav-link">
                        <i class="ri-home-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Property Type</span>
                    </a>
                </li>

                <!-- Amenities -->
                <li class="pe-slide pe-has-sub {% if request.resolver_match.url_name == 'view_amenity' %}active{% endif %}">
                    <a href="{% url 'view_amenity' %}" class="pe-nav-link">
                        <i class="ri-building-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Amenities</span>
                    </a>
                </li>

                <!-- Real Estate Company -->
                <li class="pe-slide pe-has-sub {% if request.resolver_match.url_name == 'view_company' %}active{% endif %}">
                    <a href="{% url 'view_company' %}" class="pe-nav-link">
                        <i class="ri-building-4-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Real Estate Company</span>
                    </a>
                </li>

                <!-- Property Add -->
                <li class="pe-slide pe-has-sub">
                    <a href="#collapsePropertyMenu" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapsePropertyMenu">
                        <i class="ri-home-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Listing Property</span>
                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>  
                    </a>   
                    <ul class="pe-slide-menu collapse" id="collapsePropertyMenu">            
                        <li class="pe-slide-item {% if request.resolver_match.url_name == 'add_property' %}active{% endif %}">
                            <a href="{% url 'add_property_wizard' %}" class="pe-nav-link"> R & C </a>  
                        </li>    
                        <li class="pe-slide-item {% if request.resolver_match.url_name == 'view_property' %}active{% endif %}">
                            <a href="{% url 'holiday_create' %}" class="pe-nav-link">Add Holiday</a>
                        </li>        
                        <li class="pe-slide-item {% if request.resolver_match.url_name == 'add_property' %}active{% endif %}">
                            <a href="{% url 'pg_create' %}" class="pe-nav-link">Add PG </a>  
                        </li>         
                        <li class="pe-slide-item {% if request.resolver_match.url_name == 'view_property' %}active{% endif %}">
                            <a href="{% url 'agriculture_create' %}" class="pe-nav-link">Add Agriculture </a>
                        </li>  
                        <li class="pe-slide-item {% if request.resolver_match.url_name == 'view_property' %}active{% endif %}">
                            <a href="{% url 'BSale_create' %}" class="pe-nav-link">Add for Business</a>         
                        </li>
                    </ul>
                </li>

                <!--Properties Show-->

                <li class="pe-slide pe-has-sub">
                    <a href="#collapsePropertyMenu" class="pe-nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapsePropertyMenu">
                        <i class="ri-home-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Show Property</span>  
                        <i class="ri-arrow-down-s-line pe-nav-arrow"></i>  
                    </a>   
                    <ul class="pe-slide-menu collapse" id="collapsePropertyMenu">        
                        <li class="pe-slide-item {% if request.resolver_match.url_name == 'add_property' %}active{% endif %}">
                            <a href="{% url 'properties_list' %}" class="pe-nav-link">R & C</a>  
                        </li>    
                        <li class="pe-slide-item {% if request.resolver_match.url_name == 'view_property' %}active{% endif %}">
                            <a href="{% url 'holidays_list' %}" class="pe-nav-link">Holiday</a>
                        </li>    
                        <li class="pe-slide-item {% if request.resolver_match.url_name == 'add_property' %}active{% endif %}">
                            <a href="{% url 'PG_list' %}" class="pe-nav-link">PG</a>        
                        </li>  
                        <li class="pe-slide-item {% if request.resolver_match.url_name == 'view_property' %}active{% endif %}">
                            <a href="{% url 'agriculturee_list' %}" class="pe-nav-link">Agriculture</a>
                        </li>
                        <li class="pe-slide-item {% if request.resolver_match.url_name == 'view_property' %}active{% endif %}">
                            <a href="{% url 'BSale_list' %}" class="pe-nav-link">Business </a>  
                        </li>
                    </ul>
                </li>




                <!-- Blog -->
                <li class="pe-slide pe-has-sub {% if request.resolver_match.url_name == 'view_blog' %}active{% endif %}">
                    <a href="{% url 'view_blog' %}" class="pe-nav-link">
                        <i class="ri-file-list-3-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Blog</span>
                    </a>
                </li>

                <!-- Slider -->
                <li class="pe-slide pe-has-sub {% if request.resolver_match.url_name == 'view_slider' %}active{% endif %}">
                    <a href="{% url 'view_slider' %}" class="pe-nav-link">
                        <i class="ri-image-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Slider</span>
                    </a>
                </li>

                <!-- Testimonial -->
                <li class="pe-slide pe-has-sub {% if request.resolver_match.url_name == 'view_testimonial' %}active{% endif %}">
                    <a href="{% url 'view_testimonial' %}" class="pe-nav-link">
                        <i class="ri-feedback-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Testimonial</span>
                    </a>
                </li>

                 <li class="pe-slide pe-has-sub {% if request.resolver_match.url_name == 'view_contact' %}active{% endif %}">
                    <a href="{% url 'view_contact' %}" class="pe-nav-link">
                        <i class="ri-file-list-3-line pe-nav-icon"></i>
                        <span class="pe-nav-content">Contact Query</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</aside>

    
        <div class="sidebar-backdrop" id="sidebar-backdrop"></div>
            {% block content %}
            {% endblock content %}
                <!-- Begin Footer -->
                 <div
        class="offcanvas offcanvas-end border-0 data-theme-colors layout-customizer"
        tabindex="-1"
        id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel"
      >
        <div
          class="flex-wrap align-items-center bg-primary bg-gradient p-5 offcanvas-header"
        >
          <p class="m-0 text-white fw-semibold fs-16" id="offcanvasRightLabel">
            Theme Customization
          </p>
          <button
            type="button"
            class="btn-close btn-close-white ms-auto"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body p-0">
          <div data-simplebar class="h-100">
            <div class="p-6">
              <h6 class="mb-5 fw-semibold">Layout:</h6>
              <div class="row gy-3">
                <div class="col-6">
                  <div class="border overflow-hidden rounded-2">
                    <input
                      id="customizer-layout01"
                      name="data-layout"
                      type="radio"
                      value="vertical"
                      class="form-check-input"
                      checked
                    />
                    <label
                      class="form-check-label p-0 avatar-3xl w-100 rounded-2"
                      for="customizer-layout01"
                    >
                      <span class="d-flex h-100">
                        <span class="flex-shrink-0">
                          <span
                            class="bg-light-subtle d-flex h-100 flex-column gap-1 p-2"
                          >
                            <span
                              class="d-block p-1 px-2 bg-light rounded mb-2"
                            ></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                          </span>
                        </span>
                        <span class="flex-grow-1">
                          <span class="d-flex h-100 flex-column">
                            <span class="bg-light-subtle d-block p-1"></span>
                            <span
                              class="d-block h-100 bg-primary-subtle m-3 rounded-2 rounded-2"
                            ></span>
                            <span
                              class="bg-light-subtle d-block p-1 mt-auto"
                            ></span>
                          </span>
                        </span>
                      </span>
                    </label>
                  </div>
                  <h5 class="fs-13 text-center mt-2">Vertical</h5>
                </div>
                <div class="col-6">
                  <div class="border overflow-hidden rounded-2">
                    <input
                      id="customizer-layout02"
                      name="data-layout"
                      type="radio"
                      value="horizontal"
                      class="form-check-input"
                    />
                    <label
                      class="form-check-label p-0 avatar-3xl w-100 rounded-2"
                      for="customizer-layout02"
                    >
                      <span class="d-flex h-100 flex-column">
                        <span
                          class="bg-light-subtle d-flex py-1 px-3 gap-1 align-items-center"
                        >
                          <span
                            class="d-block p-1 bg-light rounded me-1"
                          ></span>
                          <span
                            class="d-block p-1 pb-0 px-2 bg-light ms-auto"
                          ></span>
                          <span class="d-block p-1 pb-0 px-2 bg-light"></span>
                        </span>
                        <span
                          class="bg-light-subtle d-flex gap-1 pt-1 pb-4 px-3 border-primary-subtle border-top"
                        >
                          <span class="d-block p-1 pb-0 px-2 bg-light"></span>
                          <span class="d-block p-1 pb-0 px-2 bg-light"></span>
                          <span class="d-block p-1 pb-0 px-2 bg-light"></span>
                        </span>
                        <span
                          class="d-block h-100 bg-primary-subtle mx-3 mb-2 mt-n3 rounded-2"
                        >
                        </span>
                        <span
                          class="bg-light-subtle d-block p-1 mt-auto"
                        ></span>
                      </span>
                    </label>
                  </div>
                  <h5 class="fs-13 text-center mt-2">Horizontal</h5>
                </div>
                <div class="col-6">
                  <div class="border overflow-hidden rounded-2">
                    <input
                      id="customizer-layout03"
                      name="data-layout"
                      type="radio"
                      value="semibox"
                      class="form-check-input"
                    />
                    <label
                      class="form-check-label p-0 avatar-3xl w-100 rounded-2"
                      for="customizer-layout03"
                    >
                      <span class="d-flex gap-1 h-100 p-1">
                        <span class="flex-shrink-0 mb-3">
                          <span
                            class="d-block p-1 px-1 bg-light rounded mb-1 mx-1"
                          ></span>
                          <span
                            class="bg-light-subtle d-flex h-100 flex-column gap-1 p-2"
                          >
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                          </span>
                        </span>
                        <span class="flex-grow-1">
                          <span class="d-flex h-100 flex-column">
                            <span class="bg-light-subtle d-block p-1"></span>
                            <span
                              class="d-block h-100 bg-primary-subtle my-2 mx-1 rounded-2"
                            >
                            </span>
                            <span
                              class="bg-light-subtle d-block p-1 mt-auto"
                            ></span>
                          </span>
                        </span>
                      </span>
                    </label>
                  </div>
                  <h5 class="fs-13 text-center mt-2">Semi Box</h5>
                </div>
                <!-- end col -->
              </div>

              <h6 class="my-5 fw-semibold">Content Width:</h6>

              <div class="row gy-3">
                <div class="col-6">
                  <div class="border overflow-hidden rounded-2">
                    <input
                      id="defaultContent"
                      name="data-content-width"
                      type="radio"
                      value="default"
                      class="form-check-input"
                      checked
                    />
                    <label
                      class="form-check-label p-0 avatar-3xl w-100 rounded-2"
                      for="defaultContent"
                    >
                      <span class="d-flex h-100">
                        <span class="flex-shrink-0">
                          <span
                            class="bg-light-subtle d-flex h-100 flex-column gap-1 p-2"
                          >
                            <span
                              class="d-block p-1 px-2 bg-light rounded mb-2"
                            ></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                          </span>
                        </span>
                        <span class="flex-grow-1">
                          <span class="d-flex h-100 flex-column">
                            <span class="bg-light-subtle d-block p-1"></span>
                            <span
                              class="d-block h-100 bg-primary-subtle m-3 rounded-2"
                            >
                            </span>
                            <span
                              class="bg-light-subtle d-block p-1 mt-auto"
                            ></span>
                          </span>
                        </span>
                      </span>
                    </label>
                  </div>
                  <h5 class="fs-13 text-center mt-2">Default</h5>
                </div>
                <div class="col-6">
                  <div class="border overflow-hidden rounded-2">
                    <input
                      id="boxLayout"
                      name="data-content-width"
                      type="radio"
                      value="box"
                      class="form-check-input"
                    />
                    <label
                      class="form-check-label p-0 avatar-3xl w-100 rounded-2"
                      for="boxLayout"
                    >
                      <span class="d-flex h-100 px-3">
                        <span class="flex-shrink-0">
                          <span
                            class="bg-light-subtle d-flex h-100 flex-column gap-1 p-2"
                          >
                            <span
                              class="d-block p-1 px-2 bg-light rounded mb-2"
                            ></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                          </span>
                        </span>
                        <span class="flex-grow-1">
                          <span class="d-flex h-100 flex-column">
                            <span class="bg-light-subtle d-block p-1"></span>
                            <span
                              class="d-block h-100 bg-primary-subtle m-2 rounded-2"
                            >
                            </span>
                            <span
                              class="bg-light-subtle d-block p-1 mt-auto"
                            ></span>
                          </span>
                        </span>
                      </span>
                    </label>
                  </div>
                  <h5 class="fs-13 text-center mt-2">Box</h5>
                </div>
                <!-- end col -->
              </div>

              <h6 class="my-5 fw-semibold">Layout Direction:</h6>

              <div class="row gy-3">
                <div class="col-6">
                  <div class="border overflow-hidden rounded-2">
                    <input
                      id="ltrMode"
                      name="dir"
                      type="radio"
                      value="ltr"
                      class="form-check-input"
                      checked
                    />
                    <label
                      class="form-check-label p-0 avatar-3xl w-100 rounded-2"
                      for="ltrMode"
                    >
                      <span class="d-flex h-100">
                        <span class="flex-shrink-0 order-1">
                          <span
                            class="bg-light-subtle d-flex h-100 flex-column gap-1 p-2"
                          >
                            <span
                              class="d-block p-1 px-2 bg-light rounded mb-2"
                            ></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                          </span>
                        </span>
                        <span class="flex-grow-1">
                          <span class="d-flex h-100 flex-column">
                            <span class="bg-light-subtle d-block p-1"></span>
                            <span
                              class="d-block h-100 bg-primary-subtle m-3 rounded-2"
                            >
                            </span>
                            <span
                              class="bg-light-subtle d-block p-1 mt-auto"
                            ></span>
                          </span>
                        </span>
                      </span>
                    </label>
                  </div>
                  <h5 class="fs-13 text-center mt-2">LTR</h5>
                </div>
                <div class="col-6">
                  <div class="border overflow-hidden rounded-2">
                    <input
                      id="rtlMode"
                      name="dir"
                      type="radio"
                      value="rtl"
                      class="form-check-input"
                    />
                    <label
                      class="form-check-label p-0 avatar-3xl w-100 rounded-2"
                      for="rtlMode"
                    >
                      <span class="d-flex h-100">
                        <span class="flex-shrink-0">
                          <span
                            class="bg-light-subtle d-flex h-100 flex-column gap-1 p-2"
                          >
                            <span
                              class="d-block p-1 px-2 bg-light rounded mb-2"
                            ></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                          </span>
                        </span>
                        <span class="flex-grow-1">
                          <span class="d-flex h-100 flex-column">
                            <span class="bg-light-subtle d-block p-1"></span>
                            <span
                              class="d-block h-100 bg-primary-subtle m-3 rounded-2"
                            >
                            </span>
                            <span
                              class="bg-light-subtle d-block p-1 mt-auto"
                            ></span>
                          </span>
                        </span>
                      </span>
                    </label>
                  </div>
                  <h5 class="fs-13 text-center mt-2">RTL</h5>
                </div>
                <!-- end col -->
              </div>

              <h6 class="my-5 fw-semibold">Layout Mode:</h6>

              <div class="row gy-3">
                <div class="col-6">
                  <div>
                    <input
                      id="layout-light"
                      name="data-bs-theme"
                      type="radio"
                      value="light"
                      class="form-check-input"
                      checked
                    />
                    <label
                      class="form-check-label p-0 avatar-3xl w-100 rounded-2"
                      for="layout-light"
                    >
                      <span class="d-flex h-100">
                        <span class="flex-shrink-0">
                          <span
                            class="bg-light-subtle d-flex h-100 flex-column gap-1 p-2"
                          >
                            <span
                              class="d-block p-1 px-2 bg-light rounded mb-2"
                            ></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                          </span>
                        </span>
                        <span class="flex-grow-1">
                          <span class="d-flex h-100 flex-column">
                            <span class="bg-light-subtle d-block p-1"></span>
                            <span
                              class="d-block h-100 bg-primary-subtle m-3 rounded-2"
                            >
                            </span>
                            <span
                              class="bg-light-subtle d-block p-1 mt-auto"
                            ></span>
                          </span>
                        </span>
                      </span>
                    </label>
                  </div>
                  <h5 class="fs-13 text-center mt-2">Light</h5>
                </div>
                <div class="col-6">
                  <div class="border overflow-hidden rounded-2">
                    <input
                      id="layout-dark"
                      name="data-bs-theme"
                      type="radio"
                      value="dark"
                      class="form-check-input"
                    />
                    <label
                      class="form-check-label p-0 avatar-3xl w-100 rounded-2 bg-dark"
                      for="layout-dark"
                    >
                      <span class="d-flex h-100">
                        <span class="flex-shrink-0">
                          <span
                            class="bg-white bg-opacity-10 d-flex h-100 flex-column gap-1 p-2"
                          >
                            <span
                              class="d-block p-1 px-2 bg-white bg-opacity-10 rounded mb-2"
                            ></span>
                            <span
                              class="d-block p-1 px-2 pb-0 bg-white bg-opacity-10"
                            ></span>
                            <span
                              class="d-block p-1 px-2 pb-0 bg-white bg-opacity-10"
                            ></span>
                            <span
                              class="d-block p-1 px-2 pb-0 bg-white bg-opacity-10"
                            ></span>
                          </span>
                        </span>
                        <span class="flex-grow-1">
                          <span class="d-flex h-100 flex-column">
                            <span
                              class="bg-white bg-opacity-10 d-block p-1"
                            ></span>
                            <span
                              class="d-block h-100 bg-light bg-opacity-10 m-3 rounded-2"
                            >
                            </span>
                            <span
                              class="bg-white bg-opacity-10 d-block p-1 mt-auto"
                            ></span>
                          </span>
                        </span>
                      </span>
                    </label>
                  </div>
                  <h5 class="fs-13 text-center mt-2">Dark</h5>
                </div>
                <div class="col-6">
                  <div class="border overflow-hidden rounded-2">
                    <input
                      id="automode"
                      name="data-bs-theme"
                      type="radio"
                      value="auto"
                      class="form-check-input"
                    />
                    <label
                      class="form-check-label p-0 avatar-3xl w-100 rounded-2"
                      for="automode"
                    >
                      <span class="d-flex h-100">
                        <span class="flex-shrink-0">
                          <span
                            class="bg-light-subtle d-flex h-100 flex-column gap-1 p-2"
                          >
                            <span
                              class="d-block p-1 px-2 bg-light rounded mb-2"
                            ></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                          </span>
                        </span>
                        <span class="flex-grow-1">
                          <span class="d-flex h-100 flex-column">
                            <span class="bg-light-subtle d-block p-1"></span>
                            <span
                              class="d-block h-100 bg-primary-subtle m-3 rounded-2"
                            >
                            </span>
                            <span
                              class="bg-light-subtle d-block p-1 mt-auto"
                            ></span>
                          </span>
                        </span>
                      </span>
                    </label>
                  </div>
                  <h5 class="fs-13 text-center mt-2">System</h5>
                </div>
                <!-- end col -->
              </div>

              <h6 class="my-5 fw-semibold">Sidebar Size:</h6>

              <div class="row gy-3">
                <div class="col-6">
                  <div class="border overflow-hidden rounded-2">
                    <input
                      id="sidebar-default"
                      name="data-sidebar"
                      type="radio"
                      value="default"
                      class="form-check-input"
                      checked
                    />
                    <label
                      class="form-check-label p-0 avatar-3xl w-100 rounded-2"
                      for="sidebar-default"
                    >
                      <span class="d-flex h-100">
                        <span class="flex-shrink-0">
                          <span
                            class="bg-light-subtle d-flex h-100 flex-column gap-1 p-2"
                          >
                            <span
                              class="d-block p-1 px-2 bg-light rounded mb-2"
                            ></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                          </span>
                        </span>
                        <span class="flex-grow-1">
                          <span class="d-flex h-100 flex-column">
                            <span class="bg-light-subtle d-block p-1"></span>
                            <span
                              class="d-block h-100 bg-primary-subtle m-3 rounded-2"
                            >
                            </span>
                            <span
                              class="bg-light-subtle d-block p-1 mt-auto"
                            ></span>
                          </span>
                        </span>
                      </span>
                    </label>
                  </div>
                  <h5 class="fs-13 text-center mt-2">Default</h5>
                </div>
                <div class="col-6">
                  <div class="border overflow-hidden rounded-2">
                    <input
                      id="sidebar-medium"
                      name="data-sidebar"
                      type="radio"
                      value="medium"
                      class="form-check-input"
                      checked
                    />
                    <label
                      class="form-check-label p-0 avatar-3xl w-100 rounded-2"
                      for="sidebar-medium"
                    >
                      <span class="d-flex h-100">
                        <span class="flex-shrink-0">
                          <span
                            class="bg-light-subtle d-flex h-100 flex-column gap-1 p-2"
                          >
                            <span
                              class="d-block p-1 bg-light rounded mb-2"
                            ></span>
                            <span class="d-block p-1 pb-0 bg-light"></span>
                            <span class="d-block p-1 pb-0 bg-light"></span>
                            <span class="d-block p-1 pb-0 bg-light"></span>
                          </span>
                        </span>
                        <span class="flex-grow-1">
                          <span class="d-flex h-100 flex-column">
                            <span class="bg-light-subtle d-block p-1"></span>
                            <span
                              class="d-block h-100 bg-primary-subtle m-3 rounded-2"
                            >
                            </span>
                            <span
                              class="bg-light-subtle d-block p-1 mt-auto"
                            ></span>
                          </span>
                        </span>
                      </span>
                    </label>
                  </div>
                  <h5 class="fs-13 text-center mt-2">Medium</h5>
                </div>
                <div class="col-6">
                  <div class="border overflow-hidden rounded-2">
                    <input
                      id="sidebar-icon"
                      name="data-sidebar"
                      type="radio"
                      value="icon"
                      class="form-check-input"
                    />
                    <label
                      class="form-check-label p-0 avatar-3xl w-100 rounded-2"
                      for="sidebar-icon"
                    >
                      <span class="d-flex h-100">
                        <span class="flex-shrink-0">
                          <span
                            class="bg-light-subtle d-flex h-100 flex-column gap-1 p-1"
                          >
                            <span
                              class="d-block p-1 bg-light rounded mb-2"
                            ></span>
                            <span class="d-block p-1 pb-0 bg-light"></span>
                            <span class="d-block p-1 pb-0 bg-light"></span>
                            <span class="d-block p-1 pb-0 bg-light"></span>
                          </span>
                        </span>
                        <span class="flex-grow-1">
                          <span class="d-flex h-100 flex-column">
                            <span class="bg-light-subtle d-block p-1"></span>
                            <span
                              class="d-block h-100 bg-primary-subtle m-3 rounded-2"
                            >
                            </span>
                            <span
                              class="bg-light-subtle d-block p-1 mt-auto"
                            ></span>
                          </span>
                        </span>
                      </span>
                    </label>
                  </div>
                  <h5 class="fs-13 text-center mt-2">Icon</h5>
                </div>
                <div class="col-6">
                  <div class="border overflow-hidden rounded-2">
                    <input
                      id="sidebar-icon-hover"
                      name="data-sidebar"
                      type="radio"
                      value="icon-hover"
                      class="form-check-input"
                    />
                    <label
                      class="form-check-label p-0 avatar-3xl w-100 rounded-2"
                      for="sidebar-icon-hover"
                    >
                      <span class="d-flex h-100">
                        <span class="flex-shrink-0">
                          <span
                            class="bg-light-subtle d-flex h-100 flex-column gap-1 p-1"
                          >
                            <span
                              class="d-block p-1 bg-light rounded mb-2"
                            ></span>
                            <span class="d-block p-1 pb-0 bg-light"></span>
                            <span class="d-block p-1 pb-0 bg-light"></span>
                            <span class="d-block p-1 pb-0 bg-light"></span>
                          </span>
                        </span>
                        <span class="flex-grow-1">
                          <span class="d-flex h-100 flex-column">
                            <span class="bg-light-subtle d-block p-1"></span>
                            <span
                              class="d-block h-100 bg-primary-subtle m-3 rounded-2"
                            >
                            </span>
                            <span
                              class="bg-light-subtle d-block p-1 mt-auto"
                            ></span>
                          </span>
                        </span>
                      </span>
                    </label>
                  </div>
                  <h5 class="fs-13 text-center mt-2">Icon hover</h5>
                </div>
                <!-- end col -->
              </div>

              <h6 class="my-5 fw-semibold">Sidebar Color:</h6>

              <div class="row gy-3">
                <div class="col-6">
                  <div class="border overflow-hidden rounded-2">
                    <input
                      id="sidebar-light"
                      name="data-sidebar-color"
                      type="radio"
                      value="light"
                      class="form-check-input"
                      checked
                    />
                    <label
                      class="form-check-label p-0 avatar-3xl w-100 rounded-2"
                      for="sidebar-light"
                    >
                      <span class="d-flex h-100">
                        <span class="flex-shrink-0">
                          <span
                            class="bg-light-subtle d-flex h-100 flex-column gap-1 p-2"
                          >
                            <span
                              class="d-block p-1 px-2 bg-light rounded mb-2"
                            ></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                            <span class="d-block p-1 px-2 pb-0 bg-light"></span>
                          </span>
                        </span>
                        <span class="flex-grow-1">
                          <span class="d-flex h-100 flex-column">
                            <span class="bg-light-subtle d-block p-1"></span>
                            <span
                              class="d-block h-100 bg-primary-subtle m-3 rounded-2"
                            >
                            </span>
                            <span
                              class="bg-light-subtle d-block p-1 mt-auto"
                            ></span>
                          </span>
                        </span>
                      </span>
                    </label>
                  </div>
                  <h5 class="fs-13 text-center mt-2">Light</h5>
                </div>
                <div class="col-6">
                  <div class="border overflow-hidden rounded-2">
                    <input
                      id="sidebar-dark"
                      name="data-sidebar-color"
                      type="radio"
                      value="dark"
                      class="form-check-input"
                    />
                    <label
                      class="form-check-label p-0 avatar-3xl w-100 rounded-2"
                      for="sidebar-dark"
                    >
                      <span class="d-flex h-100">
                        <span class="flex-shrink-0">
                          <span
                            class="bg-primary d-flex h-100 flex-column gap-1 p-2"
                          >
                            <span
                              class="d-block p-1 px-2 bg-light-subtle opacity-25 rounded mb-2"
                            ></span>
                            <span
                              class="d-block p-1 px-2 pb-0 bg-light-subtle opacity-25"
                            ></span>
                            <span
                              class="d-block p-1 px-2 pb-0 bg-light-subtle opacity-25"
                            ></span>
                            <span
                              class="d-block p-1 px-2 pb-0 bg-light-subtle opacity-25"
                            ></span>
                          </span>
                        </span>
                        <span class="flex-grow-1">
                          <span class="d-flex h-100 flex-column">
                            <span class="bg-light-subtle d-block p-1"></span>
                            <span
                              class="d-block h-100 bg-primary-subtle m-3 rounded-2"
                            >
                            </span>
                            <span
                              class="bg-light-subtle d-block p-1 mt-auto"
                            ></span>
                          </span>
                        </span>
                      </span>
                    </label>
                  </div>
                  <h5 class="fs-13 text-center mt-2">Dark</h5>
                </div>
                <!-- end col -->
              </div>
              <div id="sidebar-color" class="my-5">
                <h6 class="mb-0 fw-semibold">Primary Color</h6>
                <p class="text-muted">Choose a color of Primary.</p>
                <div class="d-flex flex-wrap gap-3">
                  <div class="form-check sidebar-setting card-radio">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="data-theme-colors"
                      id="themeColor-01"
                      value="default"
                      checked
                    />
                    <label
                      class="form-check-label avatar-md rounded"
                      for="themeColor-01"
                    ></label>
                  </div>
                  <div class="form-check sidebar-setting card-radio">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="data-theme-colors"
                      id="themeColor-02"
                      value="cyan"
                    />
                    <label
                      class="form-check-label avatar-md rounded"
                      for="themeColor-02"
                    ></label>
                  </div>
                  <div class="form-check sidebar-setting card-radio">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="data-theme-colors"
                      id="themeColor-03"
                      value="blue"
                    />
                    <label
                      class="form-check-label avatar-md rounded"
                      for="themeColor-03"
                    ></label>
                  </div>
                  <div class="form-check sidebar-setting card-radio">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="data-theme-colors"
                      id="themeColor-04"
                      value="purple"
                    />
                    <label
                      class="form-check-label avatar-md rounded"
                      for="themeColor-04"
                    ></label>
                  </div>
                </div>
              </div>
              <div
                class="flex items-center justify-end gap-2 modal-footer pt-6 border-top"
              >
                <button type="button" class="btn btn-light" id="resetBtn">
                  <i class="ri-reset-right-line"></i> Reset Layouts
                </button>
                <button type="button" class="btn btn-danger">
                  <i class="ri-shopping-bag-3-line"></i> Buy Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Begin scroll top -->
      <div
        class="progress-wrap d-flex align-items-center justify-content-center cursor-pointer h-40px w-40px position-fixed"
        id="progress-scroll"
      >
        <svg
          class="progress-circle w-100 h-100 position-absolute"
          viewBox="0 0 100 100"
        >
          <circle cx="50" cy="50" r="45" class="progress" />
        </svg>
        <i
          class="ri-arrow-up-line fs-16 z-1 position-relative text-primary"
        ></i>
      </div>
      <!-- END scroll top -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="d-flex justify-content-between align-items-center gap-2">
            <script>
              document.write(new Date().getFullYear());
            </script>
            © Propmatez.
            <div class="text-sm-end d-none d-sm-block">
              Design & Develop by Namami Software
            </div>
          </div>
        </div>
      </footer>
      <!-- END Footer -->
    </div>
    <!-- END page -->

    <!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/js/scroll-top.init.js' %}"></script>
    <script
      src="{% static 'assets/libs/gridjs/gridjs.umd.js' %}"
      type="text/javascript"
    ></script>

    <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>
    <!-- File js -->
    <script src="{% static 'assets/js/dashboard/e-commerce.init.js' %}"></script>
  
    <script type="module" src="{% static 'assets/js/app.js' %}"></script>
 <!-- JAVASCRIPT -->

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!--datatable js-->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script>
  // Initialize Quill
  var quill = new Quill('#snowEditor', {
    theme: 'snow'
  });

</script>
    <script src="{% static 'assets/js/table/datatable.init.js'%}"></script>
    <script src="{% static 'assets/js/app.js'%}"></script>
    <script>
  document.addEventListener("DOMContentLoaded", function() {
    // Select all alert messages
    var alerts = document.querySelectorAll('.alert');
    alerts.forEach(function(alert) {
      // Set timeout to close each alert after 30 seconds (30000 ms)
      setTimeout(function() {
        var bsAlert = new bootstrap.Alert(alert);
        bsAlert.close();
      }, 500000);
    });
  });
</script>

  </body>
</html>