
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main User List</title>
</head>
<body>
          <!-- user_list.html -->
<h2>High User List</h2>    
<table border="1">
<tr>
  <th>Email</th>
  <th>Name</th>
  <th>Role</th>
  <th>Address</th>
  <th>Role</th>
</tr>
{% for u in users %}
<tr>
  <td>{{ u.email }}</td>
  <td>{{ u.full_name }}</td>  
  <td>{{ u.role }}</td>
  <td>{{ u.state }}</td>   
  <td>{{ u.role }}</td>          
</tr>
{% endfor %}
</table>

</body>
</html>
