{% extends "dashboard/base.html" %}
{% load static %}

{% block title %} Property Types {% endblock %}
      
      {% block content %}
       <main class="app-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card mt-6">
          <div class="card-header">
            <h5 class="card-title mb-0">Property Type Information</h5>
          </div>
          <div class="card-body">
              <form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
            <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="category" class="form-label">Category</label>
              <select class="form-select" id="category" name="looking_to">
    <option selected disabled>Select category</option>
    {% for value, label in categories %}
        <option value="{{ value }}" {% if row and row.looking_to == value %}selected{% endif %}>{{ label }}</option>
    {% endfor %}
</select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="name" class="form-label">Type Name</label>
                   <input type="text" class="form-control" id="name" name="name" value="{{ row.name|default:'' }}" required>
                </div>
                </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="category" class="form-label">Plot</label>
              <select class="form-select" id="category" name="plot">
   
    <option selected disabled>Select value</option>
    <option value="0" {% if row and row.plot == 0 %}selected{% endif %}>No</option>
    <option value="1" {% if row and row.plot == 1 %}selected{% endif %}>Yes</option>

   
</select>
                
              </div>
              </div>
              <div class="col-md-2">
                  <button type="submit" class="btn btn-primary">
  {% if row %} Update {% else %} Submit {% endif %}
</button>
           
              </div>
              
                  </div>
            
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}