{% extends "dashboard/base.html" %}
{% load static %}

{% block title %} Company {% endblock %}
      
      {% block content %}
      <main class="app-wrapper">
  <div class="container-fluid p-6">
      <div
            class="main-breadcrumb d-flex align-items-center my-3 position-relative"
          >
            <h2 class="breadcrumb-title mb-0 flex-grow-1 fs-14">Add Company</h2>
            <div class="flex-shrink-0">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-end mb-0">
                  <li class="breadcrumb-item">
                    <a href="{% url 'view_company' %}" class="btn btn-primary" style="color:#fff">View Companies</a>
                  </li>
                 
                </ol>
              </nav>
            </div>
          </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">Profile Information</h4>
          </div>
          <div class="card-body">
             <form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}

              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ row.name|default:'' }}" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ row.email|default:'' }}" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="tel" class="form-control" id="phone" name="phone" value="{{ row.phone|default:'' }}" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="experienceYears" class="form-label">Experience Years</label>
                    <input type="number" class="form-control" id="experienceYears" name="experience_years" value="{{ row.experience_years|default:'' }}" min="0" max="50" required>
                  </div>
                </div>
              </div>
              <div class="row">
               <div class="col-12">
  <div class="mb-3">
    <label for="imageUpload" class="form-label">Upload Logo</label>
    <input type="file" class="form-control" id="imageUpload" name="imageUpload" accept="image/*">

    {% if row.image %}
      <div class="mt-2">
        <p class="mb-1">Current Logo:</p>
        <img src="{{ row.image.url }}" alt="Profile Image" width="120" class="rounded shadow-sm">
      </div>
    {% endif %}
  </div>
</div>
               
               {% comment %} <div class="row">
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="phone" class="form-label">Country</label>
                    <input type="tel" class="form-control" id="phone" name="country" value="{{ row.country|default:'' }}" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="experienceYears" class="form-label">State </label>
                    <input type="text" class="form-control" id="experienceYears" name="state" value="{{ member.state|default:'' }}" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="experienceYears" class="form-label">City </label>
                    <input type="text" class="form-control" id="experienceYears" name="city" value="{{ member.city|default:'' }}" required>
                  </div>
                </div>
              </div> {% endcomment %}
              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                     <input type="text" class="form-control" id="experienceYears" name="address" value="{{ row.address|default:'' }}" required>
                  </div>
                </div>
             <div class="col-md-12">
                  <div class="mb-3">
                    <label for="experienceYears" class="form-label">About Comapny </label>
                  <textarea  class="form-control"  id="snowEditor" name="about" >{{ row.about|default:'' }}
                  </textarea>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                 <button type="submit" class="btn btn-primary">
  {% if row %} Update {% else %} Submit {% endif %}
</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}